---
layout: default
---
<h1>{{ page.title }}</h1>

<div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a class="badge badge-success" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

<p class="text-secondary" style="padding-top: 0.5em;">
{{ page.date | date_to_string }}
</p>

{% if page.image  %}

{% assign imageUrl = page.image %}
<img style="padding-bottom: 1em; max-height: 35vh; object-fit: cover;" src="{{site.baseurl}}{% include imageurl.liquid %}" class="img-fluid float-md-right" alt="Responsive image">

{% endif %}

{{ content }}